[submodule "userservice"]
	path = userservice
	url = git@github.com:dstu-diploma/userservice.git
[submodule "teamservice"]
	path = teamservice
	url = git@github.com:dstu-diploma/teamservice.git
[submodule "hackathonservice"]
	path = hackathonservice
	url = git@github.com:dstu-diploma/hackathonservice.git
[submodule "chatservice"]
	path = chatservice
	url = git@github.com:dstu-diploma/chatservice.git
